ingress:
  static_ip_name: "global-prod-clinvar-submitter-ip"
  clinvar_hostnames:
    - "clinvar-submitter.prod.clingen.app"
image:
  repository: gcr.io/clingen-dx/clinvar-submitter
  pullPolicy: Always
  tag: "c065aeb2b38457a84139daaa43a64eea2f177491"
scv_service_url: "https://clinvarscv-wxzzxdssga-uc.a.run.app"
resources:
  requests:
    cpu: 500m
    memory: 350Mi
  limits:
    cpu: 1000m
    memory: 1Gi
